@{
    ViewData["Title"] = "Home Page";
}

<div>
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
	</div>
    <p>This is a Order Viewer application, please navigate to the Order page.</p>
</div>
